body {
    background-color: #f8f9fa; /* Color de fondo claro */
}

header {
    background: linear-gradient(135deg, #ff4b1f 0%, #ff9068 100%); /* Gradiente de fondo */
}

h2, h3 {
    color: #ff4b1f; /* Color de encabezados */
}

.navbar {
    border-bottom: 2px solid #ff4b1f; /* Línea de borde en la navbar */
}

.list-group-item {
    background-color: #ffffff; /* Color de fondo blanco para las canciones */
    border: none; /* Sin bordes */
}

.list-group-item:hover {
    background-color: #ffebcd; /* Color de fondo al pasar el mouse sobre las canciones */
}

.text-white {
    transition: color 0.3s ease; /* Transición para cambiar de color */
}

.text-white:hover {
    color: #ff4b1f; /* Cambia el color de los enlaces al pasar el mouse */
}
